$main_font : 'Montserrat', sans-serif;
$text_color : #fb8d05;
$text_2_color : #b0b0b0;

$cube_0:#fff;
$cube_1:#111110;
$cube_2:#505050;
$cube_3:#b0b0b0;
$cube_4:#ae1827;
$cube_5:#ae8652;
$cube_6:#1a50ae;
$cube_7:#509ae1;
$cube_8:#fb8d05;
$cube_9:#ffcf6a;

$median_0: #eae8e6;
$median_1: #191817;
$median_2: #69625c;
$median_3: #88928f;
$median_4: #4f659a;

$material_0: #ac4238;
$material_1: #ae8d67;
$material_2: #65401e;
$material_3: #353333;
$material_4: #e9dac4;